.ant-layout {
    
    .ant-layout-header {
        padding: 0;
        background-color: #fff;
        .container-header {
            margin: 0 auto;
            padding: 0 25px;
        }
        .logo {
            width: 120px;
            height: 31px;
            background: rgba(0, 0, 0, 0.2);
            margin: 16px 28px 16px 0;
            float: left;
            
        }

        .ant-menu-item-selected {
            // background-color: #001529;
        }
        .ant-menu-item-selected a {
            color: #1890ff;
        }
        .ant-menu-item-active:hover{
            color: #1890ff;
        }


    }

    .ant-layout-content {
        min-height: 700px;
        background-color: #fff;

        .ant-layout-sider {
            background-color: #fff;
        }
    }
    .ant-layout-footer {
        min-height: 200px;
        background-color: #000;
    }
}